@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fffae9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: auto;
}

.app-header { /* O corpo e cor do header é definido aqui */
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  background-color: #FEE38AA8;
  justify-content: center;
}
.logo { /* Edita a parte do header onde a logo está localizada */
  background: linear-gradient(
    to right,
    #E65100,
    #C24500,
    #9F3901
  );
  height: 100px;
  border-end-end-radius: 50px;
  border-end-start-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.header-icons { /* Manipula a parte do header onde os logos estão localizados */
  column-count: 4;
  column-gap: 30px;
}
#logo-img { /* Manipula a logomarca */
  height: auto;
  width: auto;
  max-width: 50px;
}
#logo-info { /* Manipula o logotipo */
  font-family: 'League Spartan';
  font-weight: 100;
  font-size: 50px;
  color: white;
}
.main-nav { /* Manipula a nav em que os ícones do header estão localizados */
  justify-self: center;
  width: fit-content;
  margin: auto;
  column-gap: 20px;
}
.icon-header { /* Manipula os ícones presentes no header */
  height: 30px;
  width: 30px;
  padding: auto;
  margin: auto;
}
.header-icons li { /* Manipula os aspectos da lista de ícones do header */
  list-style-type: none;
}
.search-container { /* Manipula o container da barra de pesquisa */
  background-color: #FEE38AA8;
  display: flex;
  margin: auto;
  width: auto;
  height: 44px;
  max-width: calc(100% - 20px);
  justify-content: space-evenly;
  align-items: center;
  border-radius: 22px;
}
#search { /* Manipula a barra de pesquisa */
  margin: calc(200px - 100%);
  width: calc(100% - 100px);
  color: #000;
  background-color: transparent;
  height: inherit;
  margin: auto;
  border-radius: 15vh;
  border: 0px solid #EF762F;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 18px;
}
.search-icon { /* Manipula o ícone da lupa na barra de pesquisa */
  box-sizing: border-box;
  height: 30px;
  width: auto;
  padding: 5px;
  color: #ef752f84;
  margin-left: 5px;
}
.filter-button { /* Manipula o botão de filtro na barra de pesquisa */
  height: inherit;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  padding: 5px;
  border: 5px solid #EF762F;
  border-radius: inherit;
  background-color: transparent;
  color: #EF762F;
}
.filter-button:hover { /* Define mudanças de propriedades quando o mouse está sobre o botão de filtragem */
  color: #2260FF;
  border-color: #2260FF;
}
.filter-icon { /* Manipula o ícone do botão de filtro */
  color: inherit;
  padding: inherit;
}
.full-card-profile { /* Manipula o cartão de perfil */
  width: auto;
  min-width: auto;
  max-height: min-content;
  min-height: max-content;
  height: max-content;
  background-color: #FEE38A;
  align-items: center;
  justify-content: start;
  display: flex;
  margin: 20px;
  border-radius: 16px;
}
.full-card-profile:hover { /* Define propriedades quando o mouse está sobre um cartão de perfil */
  box-shadow: 0 0 20px 5px #FEE38A,
              0 0 40px 5px #C24500;
  cursor: pointer;
}
.card-profile { /* Manipula a div que possui os conteúdos do perfil (foto de perfil, nome, serviço) */
  display: flex;
  margin: 10px;
  row-gap: 10px;
}
.profile-picture { /* Manipula a foto de perfil do card */
  height: 120px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 80px;
  aspect-ratio: 1/1;
  border: 2px solid #9F3901;
}
.info { /* Manipula a parte do perfil que contém somente informações de texto (nome, serviço) */
  width: 270px;
  row-gap: 5px;
  justify-content: start;
  align-items: start;
  line-height: 10px;
  text-align: start;
  margin: auto;
  padding-left: 10px;
}
.profile-name { /* Manipula o nome de perfil de forma específica */
  font-weight: 600;
  color: #2260FF;
}
.profile-service { /* Manipula a informação do serviço de forma específica */
  font-weight: 300;
  color: black;
  font-size: 16px;
}
.card-actions { /* Manipula a div contendo os botões do cartão de perfil */
  height: fit-content;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.info-button { /* Manipula o botão de info de forma específica */
  box-sizing: border-box;
  height: inherit;
  background-color: #2260FF;
  border-radius: 20px;
  display: flex;
  height: 44px;
  width: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
}
.info-button:hover  { /* Define as propriedades quando o mouse está sobre o botão de info */
  border-width: 3px;
  color: #2260FF;
  background-color: white;
}
.icon-button { /* Manipula os botões presentes no cartão de perfil */
  box-sizing: border-box;
  background-color: #fff;
  color: #2260ff;
  display: flex;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  padding: 5px;
}
.icon-button:hover { /* Define as propriedades quando o mouse está sobre algum botão do cartão de perfil */
  border-width: 3px;
  color: white;
  border-color: white;
  background-color: #2260FF;
}
.button-icon { /* Manipula os ícones presentes nos botões do cartão de perfil */
  scale: 120%;
  aspect-ratio: 1/1;
  margin: auto;
  color: inherit;
}
.focus-description { /* Manipula a descrição no cartão de perfil */
  width: 90%;
  height: fit-content;
  max-height: 146px;
  font-weight: 300;
  color: #000;
  text-align: left;
  padding-bottom: 25px;
}
.servicos { /* Manipula o h1 de Serviços presente no site */
  color: #EF762F;
  font-family: 'League Spartan';
  font-weight: 600;
  font-size: 30px;
}
.service-list { /* Manipula a lista de serviços */
  width: fit-content;
  margin: 0 auto;
  align-content: center;
}
a { /* Define um padrão para hiperlink*/
  font-weight: 500;
  color: #2260FF;
  text-decoration: inherit;
}

a:hover { /* Define um padrão para quando o mouse está sobre um hiperlink*/
  color: #00044e;
  box-shadow: #1a1a1a;
}

body { /* Define padrões pro corpo do projeto */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 { /* Define padrões para h1*/
  font-size: 3.2em;
  line-height: 1.1;
}

button { /* Define padrões para botões */
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover { /* Define como botões genéricos devem se comportar quando um mouse está sobre ele */
  border-color: #646cff;
  color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* Manipulação para esquema de cores */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #FEE38A;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
